#projectIcon {
  font-size: 20px;
  font-weight: 800;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding: 0;
  margin-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
}


.footer.container {
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 15px;
}

.footerCenter {
  text-align: left;
  display: inline-block;
}

.mainContent {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

#maintitle {
  font-weight: 800;
}

.fg-card {
  margin-bottom: 12px;
}

.weekdaySelector {
  width: 20px;
  display:inline-block;
  text-align: center;
}

.weekdaySelectorWrapper {
  text-align: center;
}