{% extends "core/base.html" %}

{%block title%}
{{carpool.name}}
{%endblock title%}


{%block content%}
  <h1>{{carpool.name}}</h1>
  <h2>Drivers List</h2>
  <div class="row">

    <div class="order-lg-2 col-lg-3" style="margin-bottom: 20px;">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Members</div>
          <div class="card-body">
            <ul class="list-unstyled">
              {% for member in carpool.membership_set.all %}
                <li>{{member.user.full_name}} @{{member.user.username}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Trip A</div>
          <div class="card-body">
            {% for car in driversToday.tripA %}
              <h5>{{car.0.user.full_name}} ({{car.0.getCar.name}}) @{{car.0.user.username}}</h5>
              <h6>Members:</h6>
                <ul class="list-unstyled">
                  {% for member in car %}
                    {% if forloop.counter != 1 %}
                      <li>{{member.user.full_name}} (@{{member.user.username}})</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              <hr>
            {% endfor %}
          </div>
        </div>
    </div>


  </div>
{% endblock %}
