{% extends "core/base.html" %}

{%block title%}
{{carpool.name}}
{%endblock title%}


{%block content%}
  <h1>{{carpool.name}}</h1>
  <h2>Drivers List ({{driversToday.date|date:"M d"}})</h2>
  <div class="row">

    <div class="col-lg-8">
        <div class="card bg-light" style="margin-bottom: 15px;">
          <div class="card-header">Trip A</div>
          <div class="card-body">
            {% for car in driversToday.tripA %}
              <h5><b>Car #{{forloop.counter}} {{car.0.user.get_full_name}}</b> ({{car.0.getCar.name}}) @{{car.0.user.username}}</h5>
              <h6>Members:</h6>
                <ul class="list-unstyled">
                  {% for member in car %}
                    {% if forloop.counter != 1 %}
                      <li>{{member.user.get_full_name}} (@{{member.user.username}})</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              <hr>
            {% endfor %}
          </div>
        </div>

        <div class="card bg-light" style="margin-bottom: 15px;">
          <div class="card-header">Trip B</div>
          <div class="card-body">
            {% for car in driversToday.tripB %}
              <h5><b>Car #{{forloop.counter}} {{car.0.user.get_full_name}}</b> ({{car.0.getCar.name}}) @{{car.0.user.username}}</h5>
              <h6>Members:</h6>
                <ul class="list-unstyled">
                  {% for member in car %}
                    {% if forloop.counter != 1 %}
                      <li>{{member.user.get_full_name}} (@{{member.user.username}})</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              <hr>
            {% endfor %}
          </div>
        </div>
    </div>

    <div class="col-lg-4" style="margin-bottom: 20px;">
        <div class="card bg-light" style="max-width: 18rem;">
          <div class="card-header">Members</div>
          <div class="card-body">
            <ul class="list-unstyled">
              {% for member in carpool.membership_set.all %}
                <li>{{member.user.get_full_name}} @{{member.user.username}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="card bg-light" style="max-width: 18rem; margin-top: 12px;">
          <div class="card-header">Actions</div>
          <div class="card-body">
            <center><h6><b>User Actions</b></h6></center>
            <div style="margin-bottom: 20px;">
              <form action="{% url 'addToCarpool' carpool.pk %}" method="post" style="margin-bottom: 6px">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Username..." name="username" />
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                      <i class="ion-plus"></i> Add
                    </button>
                  </div>
                </div>
              </form>

              <form action="{% url 'leaveCarpool' carpool.pk %}" method="post" style="margin-bottom: 12px">
                {% csrf_token %}
                <button type="submit" class="btn-block btn btn-danger">
                  <i class="ion-android-exit"></i> Leave
                </button>
              </form>
              <hr>
              <form action="{% url 'changeCarpoolSettings' carpool.pk %}" method="post">
                {% csrf_token %}

                <div class="weekdaySelectorWrapper">
                  <h6><b>Weekdays</b></h6>
                  {% for day in myMember.getDayConf %}
                    <div class="weekdaySelector">
                      <input type="checkbox" value="{{day.0}}" name="days"

                      {% if day.1 == True %}
                        checked
                      {% endif %}

                      /><span>{{day.2.0}}</span>
                    </div>

                  {% endfor %}
                </div>
                <center><h6><b>Times</b></h6></center>
                <center>t.b.d.</center>
                <button type="submit" class="btn-block btn btn-success">
                  <i class="ion-save"></i> Save
                </button>

              </form>


            </div>
          </div>
        </div>
    </div>


  </div>
{% endblock %}
